.theme-dark {
    --color-desc-singlepost: #bfd5de;
    --color-title-singlepost: #007fff;
}

.theme-light {
    --color-desc-singlepost: #666;
    --color-title-singlepost: #212529;
}

.singlepost {
    flex: 9;
}

.singlepostWrapper {
    padding: 20px;
    padding-right: 0;
}

.singlepostImg {
    width: 100%;
    height: 500px;
    border-radius: 5px;
    object-fit: cover;
}

.singlepostTitle {
    text-align: center;
    margin-top: 10px;
    font-family: 'Lora', serif;
    font-size: 30px;
    font-weight: 600;
    color: var(--color-title-singlepost);
}

.singlepostEdit {
    float: right;
    font-size: 18px;
}

.singlepostIcon {
    margin-left: 10px;
    cursor: pointer;
}

.singlepostIcon:first-child {
    color: teal;
}

.singlepostIcon:last-child {
    color: tomato;
}

.singlepostInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #d49837;
    font-family: 'Varela', sans-serif;
}

.singlepostDesc {
    font-size: 18px;
    color: var(--color-desc-singlepost);
    line-height: 24px;
}

.singlepostDesc::first-letter {
    margin-left: 20px;
    font-size: 34px;
    font-weight: 900;
    font-family: 'Lora', serif;

}

@media screen and (max-width:650px) {
    .singlepost{
        flex: 1;
    }

    .singlepostWrapper {
        padding: 20px 8px;
    }

    .singlepostDesc::first-letter{
        margin-left: 10px;
    }

    .singlepostIcon {
        margin-left: 10px;
        cursor: pointer;
    }

    .singlepostIcon {
        position: relative;
        top: 10px;
    }   
}

@media screen and (max-width:450px) {
    .singlepost{
        padding: 2px;
    }
}


.editContainer> div{
    margin-bottom: 20px;
}

.editContainer input, .editContainer textarea{
    width: 100%;
    padding: 4px 10px;
}
.editContainer textarea{
    resize: none;
}

/* Style the div with id "update" */
#update {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Style the button within the div */
  #update button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* Change button styles on hover */
  #update button:hover {
    background-color: #0056b3;
  }
  